# Core Requirements
numpy
scipy
scikit-image
shapely
pyyaml
setuptools
tensorboard
prior
ai2thor
sentence_transformers
google-generativeai
openai
python-dotenv

# Plotting & Data Handling
matplotlib
pandas
ipython
jupyter

# Testing & formatting
pytest
pytest-timeout
pytest-html
flake8
vulture
